/* css code goes here */
thead th {
    background-color: #868b00;
    color: #ffffff;
    border: solid 1px #474747;
  }
  
  td:nth-child(1) {
    background-color: #f2f2f2;
  }
  
  td:nth-child(8) {
    background-color: #2bff00;
  }
  
  td {
    border: solid 1px #474747;
  }